// Define color variable
$Pale-blue: hsl(225, 100%, 94%);
$Bright-blue: hsl(245, 75%, 52%);
$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);

// Global rules
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

p {
    font-size: 13.5px;
    opacity: .6;
}

body {
    max-width: 100%;
    max-height: 100%;
    background-image: url(/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: $Pale-blue;
    text-align: center;
    padding-top: 4rem;
    font-family: 'Red Hat Display', sans-serif;
    line-height: 1.5;
}

h2 {
    font-size: .9rem;
    font-weight: 900;
}

h1 {
    font-size: 1.5rem;
    margin-block-start: 1.5rem;
}

.container {
    max-width: 22rem;
    margin:auto;
    .main {
        background-color: white;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
       
}

.main p:first-of-type {
    max-width: 15rem;
    margin-block-start: .5rem;
}

.img{
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.subscription {
    max-width: 20rem;
}

.plan {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: $Very-pale-blue;
    padding: 1rem;
    border-radius: .5rem;
    margin: 1.5rem 0 1.5rem 0;
    .chg {
        margin-inline-start: 3.3rem;
        align-self: center;
        font-size: .8rem;
    }
    .music-icon {
        margin-inline-end: 1rem;
    }
}

.chg:hover {
    color: hsl(245, 78%, 64%);
    text-decoration: none;
}

.checkout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.button {
    max-width: 100%;
    padding: 0.8rem;
    background-color: $Bright-blue;
    color: white;
    margin-bottom: 1.6rem;
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3px);
    font-family: inherit;
    cursor: pointer;
    
}

.button:hover {
    background-color: hsl(245, 78%, 64%);
}

.cancel {
    margin-bottom: 1.9rem;
    text-decoration: none;
    color: gray;
    font-size: .8rem;
    font-weight: bold;
}

.cancel:hover {
    color: red;
}

.attribution {
    margin-top: 1.7rem;
}

//For Desktop view

@media only screen and (min-width:700px) {
    body {
        background-image: url(/images/pattern-background-desktop.svg);
        background-color: $Pale-blue;
    }
        
}
